name: Github Action Demo
on:
    push:
        branches: 
            - main
    pull_request: 
        branches: 
            - main

env:
    HOST: '127.0.0.1'
    
jobs:
    build-job:
        runs-on: ubuntu-latest
        env:
            FULLNAME: 'Narit'
        steps:
            - run:  echo "Hello $HOST $FULLNAME"
            - run:  echo "Hello ${{github.actor}} ${{vars.COMPANY_NAME}}"
           
    test-job:
        runs-on: ubuntu-latest
        needs: build-job
        steps:
            - run: echo "Repo id ${{github.repository}} ${{env.HOST}}"

    deploy-job:
        runs-on: ubuntu-latest
        needs: test-job
        steps:
            - run: echo "Deploy job ${{job.status}}"